@import '~/carbon-addons-data-viz-react/scss/index.scss';

body {
    background-color: #E2E8ED;
    overflow-x: hidden;
    overflow-y: hidden;
}

.TooltipTable {
    border: unset;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.color-squares {
    height: 10px;
    width: 10px;
    display: inline-block
}

.scrollBar {
    height: 200px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.Flex1 {
    flex: 12;
}

.Flex2 {
    justify-content: flex-end;
}

.FlexBarGraph {
    flex: 6;
}

.FlexLineGraph {
    flex: 6;
    padding-left: 2%
}

.FlexGauges {
    flex: 6;
    padding-left: 2%
}

.FlexMap {
    flex: 5;
    justify-content: flex-end;
}



.flex-table {
    flex: 2;
    padding-left: 3%;
    padding-top: 2%;
}


.flex-pad {
    flex: 10;
}

@media (min-width:900px) {
    .FlexGauges {
        justify-content: space-between;
    }

    .FlexBarGraph {
        flex: 2;
    }

    .FlexLineGraph {
        flex: 2;
    }

    .flex-table {
        flex: 0.4;
    }

    .flex-pad {
        flex: 11.6;
    }
}

/*@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
        overflow-x: auto;
        overflow-y: auto;
    }
}
*/

@media only screen and (max-width: 1100px) {
    body {
        overflow-y: auto;
    }
}

/* Phone */
@media only screen and (max-width: 600px) {
    body {
        overflow-y: auto;
    }

    .Flex1 {
        flex: 1;
    }

    .Flex2 {
        justify-content: flex-end;
    }
}

/* iPad PRO (1024 x 1366) */
@media only screen and (max-width: 1024px) {
    body {
        overflow-y: auto;
    }

    .FlexMap {
        flex: 3;
        justify-content: flex-end;
    }

    .FlexGauges {
        flex: 3;
        padding-left: 2%
    }

    .flex-table {
        padding-top: 30%;
    }
}

/* iPad (768 x 1024) */
@media only screen and (max-width: 768px) {
    body {
        overflow-y: auto;
    }

    .FlexMap {
        flex: 3;
        justify-content: flex-end;
    }

    .FlexGauges {
        flex: 3;
        padding-left: 2%
    }

    .flex-table {
        padding-top: 10%;
    }
}
