body {
    background-color:#E2E8ED 
}
.TooltipTable {
    border: unset;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.color-squares {
    height: 10px;
    width: 10px;
    display: inline-block
}

.scrollBar {
    height: 200px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white
}